section.todos {
    background-image: url('../../images/background.jpg');
    background-size: 100%;
    min-height: 78vh;
    background-color: black;
}

section.todos article.todoGallery {
    padding: 2em 0 4em;
}

/* Below we will style our ToDo tiles */
article.todoGallery div.singleToDo {
    background-color: rgba(200, 200, 200, .9);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    border: 2px solid #212529;
    /* Below we set position: relative to later position our edit & delete buttons absolutely.
    When we choose an absolute position for edit & delete buttons, they will be relative to
    this div.singleResource. */
    position: relative;
    padding: 0 0 2em;
    height: 15em;
}

div.singleToDo h3 {
    background-color: rgb(23, 162, 184);
    padding: .5em 0;
    border-bottom: 4px solid #212529;
    color: #212529;
}

div.singleToDo p {
    padding: 1em;
}
.singleToDo button {
    position: absolute;
    font-size: 1.2em;
    top: .5em;
    background: none;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    transition: .5s;
}